python-dateutil~=2.8.2
imageio~=2.13.5
matplotlib~=3.5.1
numpy~=1.21.5
torch~=1.10.1
torchvision~=0.11.2
tensorboard
albumentations==1.1.0
scikit-image~=0.19.1
scipy~=1.7.3
tqdm~=4.62.3
piqa~=1.1.7
clean-fid
opencv-python~=4.5.5.62
pillow~=8.4.0
tensorboardX~=2.4.1
keras~=2.7.0
mlflow~=1.22.0
pandas
pydicom
torchsummary
pyyaml